html {
    background: #fabada;
    color: #000000
}
body {
    background: #fabada;
    color: #000000
}

h1, h2, h3, h4, h5, h6 {
    background: #fabada;
    color: #000000
}

a {
    background: #fabada;
    color: #000000
}

b, strong {
    background: #fabada;
    color: #000000
}

p {
    background: #fabada;
    color: #000000
}

img {
    background: #fabada;
    color: #000000
}
